
:root{
    --dark-color: #191919;
    --medio-color:#2D4263;
    --fraco-color:#C84B31;
    --claro-color:#ECDBBA;
}

html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(to top,var(--dark-color),var(--claro-color));
    color: var(--claro-color);
}

header{
    width: 100%;
    background: linear-gradient(to right,var(--dark-color), var(--fraco-color));
}

.cabecalho{
    display: flex;
    height: 4rem;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
    height: 7rem;
    border-bottom: solid 2px var(--claro-color);
}

#nomeTop{
    color: var(--claro-color);
    font-size: 2rem;
    margin-bottom: 0.1rem;
}

.menu{
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
    margin: 0;
}

.display a{
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--claro-color);
}

.display :hover{
    color: var(--medio-color);
    font-size: 1.4rem;
}

#banner{
    position: relative;
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

#texto{
    font-family:monospace;
    font-size: 3rem;
    text-align: center;
    width: 80rem;
    /*transform: translate(50%, 70%);
    position: absolute;*/
    color: var(--medio-color); 
}

.caixaBanner{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*==========seta topo==========*/

.setaTop{
    display: none;
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 5%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all .10s ease;
    transform: rotate(270deg);
    z-index: 2;
}

.setaTop.ativo{
    position: fixed;
    opacity: 1;
    visibility: visible;
}

h2{
    font-size: 2.2rem;
    text-align: center;
    margin: 5rem 0 1rem;
}

#tituloQuemSouEu{
    margin-top: 4rem;
}

#quemSouEu{
    display: flex;
    width: 70%;
    margin: 4rem auto 0;
    gap: 2rem;
    flex-wrap: wrap;
}

.textoQuemSouEu{
    font-size: 1.5rem;
}

#triangulo{
    display: flex;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 0px solid red;
    border-left: 50px solid red;
    border-right: 100px solid transparent;
    border-bottom: 100px solid red;
}

.triangle1 {
    width: 0;
    height: 0;
    border-top: 100px solid red;
    border-left: 100px solid transparent;
    border-right: 50px solid red;
    border-bottom: 0px solid red;
}
  

.minhaFoto{
    width: 30%;
    object-fit: cover;
}

.fotoNeomar{
    width: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 70%;
    box-shadow: 10px 50px 100px -10px black;
}

.descricao{
    width: 60%;
}

.texto{
    font-size: 1.5rem;
}

/*==========Conhecimento==========*/

.conhecimento{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin:5rem auto;
    justify-content: center;
    flex-wrap: wrap;
}

.caixaIcone{
    display: flex;
    width: 10rem;
    height: 10rem;
    border: solid 1px var(--claro-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: var(--fraco-color);
    font-size: 1.4rem;
    cursor: pointer;
}

.icone{
    color: var(--claro-color);

}



.portifoli{
    display: grid;
    grid-template-columns: 47% 47%;
    max-width: 70%;
    margin: 5rem auto;
    text-align: center;
    line-height: 20rem;
    gap: 5.2rem;
}

.item{
    border: solid 1px aqua;
    height: 20rem;
}

#contato{
    text-align: center;
    height: 15rem;
}

#contato :hover{
    width: 4.5rem;
}

.contato-img{
    width: 3rem;
    margin: 4rem 1rem 1rem;
    padding: 0;
}

.contato-img1{
    width: 4rem;
    padding: 0 0.5rem 0.5rem 0;

}

.rodape{
    height: 5rem;
    text-align: center;
    font-size: 0.9rem;
    /*background-image: linear-gradient(to top, black, rgb(122, 10, 10),black);*/
}

.textoRodape{
    margin-top: 0rem;
}
