
  @import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Playfair+Display&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Playfair+Display&display=swap');

:root{
    --font-familyText: 'Cormorant', serif;
    --font-family: 'Lalezar', cursive, serif;
    --dark-color: #071E3D;
    --medio-color:#1F4287;
    --fraco-color:#278EA5;
    --claro-color:#21E6C1;
}

html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(to left,var(--dark-color),var(--claro-color));
    color: var(--claro-color);
}

header{
    width: 100%;
    background: linear-gradient(to left,var(--dark-color), var(--fraco-color));
}

.cabecalho{
    display: flex;
    height: 4rem;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
    height: 7rem;
    border-bottom: solid 2px var(--claro-color);
}

#nomeTop:hover{
    font-size: 2.7rem;
    cursor: pointer;
}

#nomeTop{
    color: var(--claro-color);
    font-size: 2.5rem;
    margin-bottom: 0.1rem;
    font-family: var(--font-family);
}

.menu{
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
    margin: 0;
}

.display a{
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--claro-color);
    font-family: var(--font-family);
}

.display :hover{
    color:rgb(197, 15, 15);
    font-size: 1.3rem;
}

#banner{
    position: relative;
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

#texto{
    font-family:monospace;
    font-size: 3rem;
    text-align: center;
    width: 80rem;
    /*transform: translate(50%, 70%);
    position: absolute;*/
    color: black; 
}

.caixaBanner{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*==========seta topo==========*/

.setaTop{
    position: fixed;
    font-size: 4rem;
    color: black;
    bottom: 10%;
    right: 5%;
    width: 5%;
    opacity: 0;
    visibility: hidden;
    transition: all 2s ease;
    z-index: 2;
}

.setaTop.ativo{
    position: fixed;
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

h2:hover{
    font-size: 2.7rem;
}

h2{
    font-size: 2.2rem;
    text-align: center;
    width: 20rem;
    margin: 5rem auto;
    font-family: var(--font-family);
    color: var(--claro-color);
    cursor: pointer;
}

/*==========Quem Ssou Eu==========*/

#quemSouEu{
    display: flex;
    width: 70%;
    margin: 4rem auto 0;
    gap: 2rem;
    flex-wrap: wrap;
}

.textoQuemSouEu{
    font-size: 1.5rem;
    font-family:var(--font-family);
    color: #191919; 
    text-indent: 2rem;
    margin: 0.5rem;
}

#triangulo{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 1.5rem;
    margin: 0 0 5rem 0;
    contain:content ;
}

.triangle {
    width: 90%;
    border-top: 0px solid var(--fraco-color);
    border-left: 50px solid var(--fraco-color);
    border-right: 100px solid transparent;
    border-bottom: 100px solid var(--fraco-color);
}

.triangle1 {
    width: 90%;
    border-top: 100px solid var(--fraco-color);
    border-left: 100px solid transparent;
    border-right: 50px solid var(--fraco-color);
    border-bottom: 0px solid var(--fraco-color);
}
  
.minhaFoto{
    width: 30%;
    object-fit: cover;
}

.fotoNeomar{
    width: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 70%;
    box-shadow: 10px 50px 50px -10px black;
}

.descricao{
    width: 60%;
}

.texto{
    font-size: 1.5rem;
}

/*==========Conhecimento==========*/

.conhecimento{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin:5rem auto;
    justify-content: center;
    flex-wrap: wrap;
}

.caixaIcone{
    display: flex;
    width: 10rem;
    height: 10rem;
    border: solid 1px var(--claro-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: var(--fraco-color);
    font-size: 1.4rem;
    cursor: pointer;
}

.icone{
    color: var(--claro-color);
}

.portifoli{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    max-width: 70%;
    margin: 5rem auto;
    text-align: center;
    line-height: 20rem;
    gap: 5.2rem;
}

.item{
    border: solid 1px var(--fraco-color);
    width: 30rem;
    height: 20rem;
}

.futurosProjetos{
    font-size: 1.5rem;
    font-family:var(--font-family);
    color: #191919;
}

#contato{
    text-align: center;
    height: 15rem;
}

.redes{
    font-size: 4rem;
    color: black;
    width: 3rem;
    margin: 3rem 2rem 1rem;
    padding: 0;
}

.redes:hover{
    transform: translateY(-1rem)
}

.rodape{
    height: 5rem;
    text-align: center;
    font-size: 0.9rem;
    /*background-image: linear-gradient(to top, black, rgb(122, 10, 10),black);*/
}

.textoRodape{
    margin-bottom: 0px;
}


/*==========Aplicações Mobile==========*/

@media screen and (max-width: 480px) {

    .setaTop{
        width: 2.5rem;
    }

    #texto{
        font-size: 1.2rem;
    }

    #triangulo{
        width: 100%;
        height: 0.8rem;

    }

    .triangle {
        width: 70%;
        border-top: 0px solid var(--fraco-color);
        border-left: 50px solid var(--fraco-color);
        border-right: 75px solid transparent;
        border-bottom: 100px solid var(--fraco-color);
    }

    .triangle1 {
        width: 70%;
        border-top: 100px solid var(--fraco-color);
        border-left: 75px solid transparent;
        border-right: 25px solid var(--fraco-color);
        border-bottom: 0px solid var(--fraco-color);
    }

    .descricao{
        width: 100%;
    }

    .textoQuemSouEu{
        font-size: 1rem;
    }

    .minhaFoto{
        width: auto;
    }

    .conhecimento{
        gap: 2.5rem;
        flex-direction: column;
        align-items: center;
    }

    .caixaIcone{
        width: 7rem;
        height: 7rem;
        font-size: 1.1rem;
    }

    .item{
        height: 10rem;
    }

    .portifoli{
        display: grid;
        grid-template-columns: 100%;
        max-width: 70%;
        margin: 5rem auto;
        text-align: center;
        line-height: 10rem;
        gap: 2.5rem;
    }

    #contato{
        height: 7rem;
        margin: 1rem auto 2rem;
    }

    #contato :hover{
        width: 2.9rem;
    }
    
    .contato-img{
        width: 1.5rem;
        margin: 2rem 1rem 1rem;
        padding: 0;
    }
    
    .contato-img1{
        width: 2.2rem;
        padding: 0 0.5rem 0.5rem 0;
    }

    footer{
        margin-top: 2px;
    }

    .textoRodape{
        font-size: 0.6rem;
        margin-bottom: 0px;
    }
}
